<div class="container">
  <mat-card>
    <mat-stepper [orientation]="(stepperOrientation | async)!" [linear]="true" #stepper>
      <div>
        <mat-step [stepControl]="attackingCountryGroup" label="Attacking Country" #stepOne>
          <form [formGroup]="attackingCountryGroup">
            <mat-form-field appearance="fill">
              <mat-label>Armies</mat-label>
              <input type="number" matInput formControlName="attackingArmies"
                placeholder="Number of armies on your country" />
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Number of Dice</mat-label>
              <mat-select formControlName="attackingDice" mat-raised-button matTooltip="Determined by number armies">
                <mat-option *ngFor="let dice of attackingDice$ | async" [value]="dice">{{ dice }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Leave behind</mat-label>
              <input type="number" matInput formControlName="leaveBehind"
                [max]="attackingCountryGroup.get('attackingArmies')!.value - 1"
                placeholder="Armies to not include in the attack" />
              <mat-error>
                Must be less than attacking armies
              </mat-error>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext [disabled]="attackingCountryGroup.invalid">
                Next
              </button>
            </div>
          </form>
        </mat-step>
      </div>
      <mat-step [stepControl]="defendingCountryGroup" label="Defending Country">
        <form [formGroup]="defendingCountryGroup">
          <mat-form-field appearance="fill">
            <mat-label>Armies</mat-label>
            <input type="number" matInput formControlName="defendingArmies" />
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext [disabled]="defendingCountryGroup.invalid">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>The name of the game is Risk.</p>
        <div>
          <button mat-raised-button color="warn" (click)="submit()">Attack!</button>
          <button mat-raised-button (click)="stepper.reset()" matStepperPrevious>Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
    <div>
    </div>

    <div class="accordion" *ngIf="result$ | async as result">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Results
            </mat-panel-title>
            <mat-panel-description>
              <div>{{result.winner}} Won! &nbsp;</div>
              <br>
              <div>Attack Remaing: {{result.remaining?.attacker}}&nbsp;</div>
              <br>
              <div>Defense Remaing: {{result.remaining?.defender}}&nbsp;</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list role="list">
            <mat-list-item role="listitem"
              *ngFor="let roll of result.roll  | slice:1:result.roll.length; let i = index">
              <div>
                <strong>Roll: {{i + 1}}</strong>
                <div>Attack rolled: {{roll.attackingDice}}</div>
                <div>Defense Rolled: {{roll.defendingDice}}</div>
                <div>⚔️ {{roll.attackingArmiesLeft}} vs 🛡️{{roll.defendingArmiesLeft}}</div>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-card>
</div>